form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Arial", sans-serif;
}

label {
  margin-bottom: 10px;
}

input {
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #428bca;
  color: #fff; 
  font-family: "Arial", sans-serif; 
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3071a9;
}
